In [50]:
import yfinance as yf
from datetime import datetime, timedelta
import numpy as np
import matplotlib.pyplot as plt
stock = 'AAPL'
start_day = datetime.now() + timedelta(days=-9)
end_day = datetime.now() + timedelta()
df = yf.download(stock, start=start_day, end=end_day)
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-05-16,145.550003,147.520004,144.179993,145.539993,145.539993,86643800
2022-05-17,148.860001,149.770004,146.679993,149.240005,149.240005,78336300
2022-05-18,146.850006,147.360001,139.899994,140.820007,140.820007,109742900
2022-05-19,139.880005,141.660004,136.600006,137.350006,137.350006,136095600
2022-05-20,139.089996,140.699997,132.610001,137.589996,137.589996,137194600
2022-05-23,137.789993,143.259995,137.649994,143.110001,143.110001,117726300
2022-05-24,140.809998,141.970001,137.330002,140.360001,140.360001,103890900
2022-05-25,138.429993,141.380005,138.339996,139.529999,139.529999,37966389

In [53]:
rent_day = (df['Close'][1])
rent_day

149.24000549316406